templates/system/workflows/n8n/agent-router.json
{
  "name": "factory-master: Agent Router",
  "active": false,
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "agent-router", "responseMode": "responseNode", "options": {} },
      "id": "a0000000-0000-0000-0000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 320],
      "webhookId": "agent-router"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const b = ($input.first().json.body) || {};\nlet raw = (b.text !== undefined && b.text !== null) ? b.text : ((b.prompt !== undefined && b.prompt !== null) ? b.prompt : '');\nraw = String(raw);\nconst original_length = raw.length;\n// L2: strip ASCII control chars (keep \\t \\n \\r), NFC-normalize, collapse whitespace, cap 2000.\nlet s = raw.replace(/[\\u0000-\\u0008\\u000B\\u000C\\u000E-\\u001F\\u007F]/g, '');\ns = s.normalize('NFC');\ns = s.replace(/\\s+/g, ' ').trim();\nif (s.length > 2000) { s = s.slice(0, 2000); }\nreturn [{ json: { sanitized: s, original_length: original_length } }];"
      },
      "id": "a0000000-0000-0000-0000-000000000002",
      "name": "Sanitize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 320]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.sanitized }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "You are an intent classifier for an operations assistant. Read the user message and classify it into exactly one intent: ops, code, research, infra, or unknown.\n- ops: operations, monitoring, status, deployments, restarts, logs, service health.\n- code: writing, editing, reviewing, or explaining code.\n- research: open-ended questions, summaries, information lookup.\n- infra: provisioning or changing infrastructure (DNS, secrets, cloud resources).\n- unknown: ambiguous, empty, or anything not clearly in the set above.\nAlso return a confidence between 0 and 1 for the chosen intent. If unsure, use intent unknown with a low confidence. Respond strictly in the required structured format."
            }
          ]
        }
      },
      "id": "a0000000-0000-0000-0000-000000000003",
      "name": "Classify Intent",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [660, 320]
    },
    {
      "parameters": {
        "model": "openai/gpt-5-nano",
        "options": { "temperature": 0, "maxTokens": 100 }
      },
      "id": "a0000000-0000-0000-0000-000000000004",
      "name": "Classifier Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [600, 540],
      "credentials": { "openRouterApi": { "id": "@@CRED_OPENROUTER_ID@@", "name": "OpenRouter (factory-master)" } }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\"type\":\"object\",\"properties\":{\"intent\":{\"type\":\"string\",\"enum\":[\"ops\",\"code\",\"research\",\"infra\",\"unknown\"]},\"confidence\":{\"type\":\"number\",\"minimum\":0,\"maximum\":1}},\"required\":[\"intent\",\"confidence\"],\"additionalProperties\":false}"
      },
      "id": "a0000000-0000-0000-0000-000000000005",
      "name": "Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [800, 540]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Re-attach the sanitized text (the classifier node replaces the item with its\n// parsed output, so `sanitized` would otherwise be lost before dispatch). Robust\n// to the parsed result being under `.output` or at the top level.\nconst cls = $input.first().json;\nconst parsed = (cls.output !== undefined && cls.output !== null) ? cls.output : cls;\nconst sanitized = $('Sanitize Input').first().json.sanitized;\nlet intent = parsed.intent;\nlet confidence = (typeof parsed.confidence === 'number') ? parsed.confidence : Number(parsed.confidence);\nif (!intent || typeof intent !== 'string') { intent = 'unknown'; }\nif (!(confidence >= 0 && confidence <= 1)) { confidence = 0; }\nreturn [{ json: { sanitized: sanitized, intent: intent, confidence: confidence } }];"
      },
      "id": "a0000000-0000-0000-0000-000000000006",
      "name": "Build Dispatch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 320]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "c1000000-0000-0000-0000-000000000001",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "ops",
                    "operator": { "type": "string", "operation": "equals" }
                  },
                  {
                    "id": "c1000000-0000-0000-0000-000000000002",
                    "leftValue": "={{ $json.confidence }}",
                    "rightValue": 0.7,
                    "operator": { "type": "number", "operation": "gte" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "ops"
            }
          ]
        },
        "options": { "fallbackOutput": "extra", "renameFallbackOutput": "unknown" }
      },
      "id": "a0000000-0000-0000-0000-000000000007",
      "name": "Route by Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1100, 320]
    },
    {
      "parameters": {
        "workflowId": { "__rl": true, "value": "@@SUB_OPS_WF_ID@@", "mode": "id" },
        "mode": "once",
        "options": {}
      },
      "id": "a0000000-0000-0000-0000-000000000008",
      "name": "Call ops Sub-workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1340, 220]
    },
    {
      "parameters": {
        "workflowId": { "__rl": true, "value": "@@SUB_UNKNOWN_WF_ID@@", "mode": "id" },
        "mode": "once",
        "options": {}
      },
      "id": "a0000000-0000-0000-0000-000000000009",
      "name": "Call unknown Sub-workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1340, 420]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// L5 egress validation: reject exec/eval, strip <script>, redact non-allowlisted\n// URLs, cap length.\nconst item = $input.first().json;\nlet reply = (item.reply !== undefined && item.reply !== null) ? item.reply : ((item.output !== undefined && item.output !== null) ? item.output : '');\nreply = String(reply);\nif (/exec\\s*\\(|eval\\s*\\(/i.test(reply)) {\n  return [{ json: { reply: 'Response withheld by egress policy.' } }];\n}\nreply = reply.replace(/<script[\\s\\S]*?<\\/script>/gi, '').replace(/<\\/?script[^>]*>/gi, '');\nconst ALLOW = /(^|\\.)(or-infra\\.com|openrouter\\.ai|n8n\\.io)$/i;\nreply = reply.replace(/https?:\\/\\/[^\\s<>\"')]+/gi, function (u) {\n  try { return ALLOW.test(new URL(u).hostname) ? u : '[redacted-url]'; }\n  catch (e) { return '[redacted-url]'; }\n});\nif (reply.length > 4000) { reply = reply.slice(0, 4000); }\nreturn [{ json: { reply: reply } }];"
      },
      "id": "a0000000-0000-0000-0000-00000000000a",
      "name": "Egress Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 320]
    },
    {
      "parameters": { "respondWith": "firstIncomingItem", "options": {} },
      "id": "a0000000-0000-0000-0000-00000000000b",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1780, 320]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Sanitize Input", "type": "main", "index": 0 }]] },
    "Sanitize Input": { "main": [[{ "node": "Classify Intent", "type": "main", "index": 0 }]] },
    "Classify Intent": { "main": [[{ "node": "Build Dispatch", "type": "main", "index": 0 }]] },
    "Classifier Model": { "ai_languageModel": [[{ "node": "Classify Intent", "type": "ai_languageModel", "index": 0 }]] },
    "Output Parser": { "ai_outputParser": [[{ "node": "Classify Intent", "type": "ai_outputParser", "index": 0 }]] },
    "Build Dispatch": { "main": [[{ "node": "Route by Intent", "type": "main", "index": 0 }]] },
    "Route by Intent": {
      "main": [
        [{ "node": "Call ops Sub-workflow", "type": "main", "index": 0 }],
        [{ "node": "Call unknown Sub-workflow", "type": "main", "index": 0 }]
      ]
    },
    "Call ops Sub-workflow": { "main": [[{ "node": "Egress Validation", "type": "main", "index": 0 }]] },
    "Call unknown Sub-workflow": { "main": [[{ "node": "Egress Validation", "type": "main", "index": 0 }]] },
    "Egress Validation": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
