templates/system/workflows/n8n/agent-router.json
{
  "name": "factory-master: Agent Router",
  "active": false,
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "agent-router", "responseMode": "lastNode", "options": {} },
      "id": "a0000000-0000-0000-0000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 320],
      "webhookId": "agent-router"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const b = ($input.first().json.body) || {};\nlet raw = (b.text !== undefined && b.text !== null) ? b.text : ((b.prompt !== undefined && b.prompt !== null) ? b.prompt : '');\nraw = String(raw);\nconst original_length = raw.length;\n// L2: strip ASCII control chars (keep \\t \\n \\r), NFC-normalize, collapse whitespace, cap 2000.\nlet s = raw.replace(/[\\u0000-\\u0008\\u000B\\u000C\\u000E-\\u001F\\u007F]/g, '');\ns = s.normalize('NFC');\ns = s.replace(/\\s+/g, ' ').trim();\nif (s.length > 2000) { s = s.slice(0, 2000); }\nreturn [{ json: { sanitized: s, original_length: original_length } }];"
      },
      "id": "a0000000-0000-0000-0000-000000000002",
      "name": "Sanitize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 320]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// async-deep-research: detect an explicit deep-research trigger phrase. If\n// present, the router kicks the background deep-research sub-workflow\n// (fire-and-forget) and returns an instant ack; otherwise the message flows to\n// the normal classifier unchanged. The matched trigger phrase is stripped so the\n// background research gets a clean topic. Trigger phrases contain no regex\n// metacharacters, so they are used directly as case-insensitive patterns.\nconst s = $('Sanitize Input').first().json.sanitized || '';\nconst TRIGGERS = ['תחקור לעומק','תחקרי לעומק','חקור לעומק','מחקר עמוק','מחקר מעמיק','חקירה מעמיקה','deep research','research deeply','in-depth research','in depth research'];\nconst low = s.toLowerCase();\nlet deep = false;\nfor (let i = 0; i < TRIGGERS.length; i++) { if (low.indexOf(TRIGGERS[i].toLowerCase()) !== -1) { deep = true; break; } }\nlet topic = s;\nif (deep) {\n  for (let i = 0; i < TRIGGERS.length; i++) { topic = topic.replace(new RegExp(TRIGGERS[i], 'ig'), ' '); }\n  topic = topic.replace(/\\s+/g, ' ').trim();\n  if (!topic) { topic = s; }\n}\nreturn [{ json: { sanitized: deep ? topic : s, deep_gate: deep ? 'deep' : 'normal', original_sanitized: s } }];"
      },
      "id": "a0000000-0000-0000-0000-0000000000e1",
      "name": "Detect Deep Research",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 140]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "c3000000-0000-0000-0000-000000000001",
                    "leftValue": "={{ $json.deep_gate }}",
                    "rightValue": "deep",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "deep"
            }
          ]
        },
        "options": { "fallbackOutput": "extra", "renameFallbackOutput": "normal" }
      },
      "id": "a0000000-0000-0000-0000-0000000000e2",
      "name": "Deep Gate",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [780, 140]
    },
    {
      "parameters": {
        "workflowId": { "__rl": true, "value": "@@SUB_DEEP_RESEARCH_WF_ID@@", "mode": "id" },
        "mode": "once",
        "options": { "waitForSubWorkflow": false }
      },
      "id": "a0000000-0000-0000-0000-0000000000e3",
      "name": "Kick Deep Research",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [980, 60]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "e3000000-0000-0000-0000-000000000001",
              "name": "reply",
              "type": "string",
              "value": "={{ '🔎 מתחיל מחקר מעמיק על: ' + ($('Detect Deep Research').first().json.sanitized || '').slice(0, 200) + '\\nזה ייקח כמה דקות — אשלח לך את התשובה כשתהיה מוכנה.' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a0000000-0000-0000-0000-0000000000e4",
      "name": "Deep Ack",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1180, 60]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.sanitized }}",
        "hasOutputParser": false,
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "You are an intent classifier for an operations assistant. Classify the user message into exactly one intent: ops, code, research, infra, or unknown.\n- ops: operations, monitoring, status, deployments, restarts, logs, service health.\n- code: writing, editing, reviewing, or explaining code.\n- research: open-ended questions, summaries, information lookup.\n- infra: provisioning or changing infrastructure (DNS, secrets, cloud resources).\n- unknown: ambiguous, empty, or anything not clearly in the set above.\nReturn ONLY a single-line JSON object and nothing else (no markdown, no code fences, no prose): {\"intent\":\"<one of ops|code|research|infra|unknown>\",\"confidence\":<number between 0 and 1>,\"entity_mention\":<the exact file name or repo path the user referenced, as a JSON string (e.g. \"config.json\" or \"src/app.ts\"), or null if no specific file is referenced>}. Extract entity_mention verbatim from the user's words even if it looks misspelled or partial — never correct or invent it. If unsure of the intent, use intent unknown with a low confidence."
            }
          ]
        }
      },
      "id": "a0000000-0000-0000-0000-000000000003",
      "name": "Classify Intent",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [660, 320]
    },
    {
      "parameters": {
        "model": "openai/gpt-5-nano",
        "options": { "temperature": 0 }
      },
      "id": "a0000000-0000-0000-0000-000000000004",
      "name": "Classifier Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [600, 540],
      "credentials": { "openRouterApi": { "id": "@@CRED_OPENROUTER_ID@@", "name": "OpenRouter (factory-master)" } }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Parse the classifier's raw JSON text robustly (no throwing output-parser):\n// any parse failure -> intent 'unknown' (graceful; OWASP LLM01 bounded refusal).\n// Also re-attach the sanitized text, which the chain node drops from the item.\nconst cls = $input.first().json;\nconst sanitized = $('Sanitize Input').first().json.sanitized;\nlet intent = 'unknown';\nlet confidence = 0;\nlet entity_mention = null;\ntry {\n  let parsed = null;\n  if (cls.output && typeof cls.output === 'object') {\n    parsed = cls.output;\n  } else {\n    const raw = String(cls.text != null ? cls.text : (cls.response != null ? cls.response : (cls.output != null ? cls.output : '')));\n    const m = raw.match(/\\{[\\s\\S]*\\}/);\n    if (m) { parsed = JSON.parse(m[0]); }\n  }\n  if (parsed && typeof parsed === 'object') {\n    if (typeof parsed.intent === 'string') { intent = parsed.intent.toLowerCase().trim(); }\n    const c = (typeof parsed.confidence === 'number') ? parsed.confidence : Number(parsed.confidence);\n    if (c >= 0 && c <= 1) { confidence = c; }\n    if (typeof parsed.entity_mention === 'string' && parsed.entity_mention.trim()) { entity_mention = parsed.entity_mention.trim(); }\n  }\n} catch (e) { intent = 'unknown'; confidence = 0; entity_mention = null; }\nconst allowed = ['ops', 'code', 'research', 'infra', 'unknown'];\nif (allowed.indexOf(intent) === -1) { intent = 'unknown'; }\nreturn [{ json: { sanitized: sanitized, intent: intent, confidence: confidence, entity_mention: entity_mention } }];"
      },
      "id": "a0000000-0000-0000-0000-000000000006",
      "name": "Build Dispatch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 320]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT paths FROM file_catalog WHERE chat_id = {{ '@@CHAT_ID@@' }} LIMIT 1;",
        "options": {}
      },
      "id": "a0000000-0000-0000-0000-000000000010",
      "name": "Load Catalog",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        880,
        540
      ],
      "credentials": {
        "postgres": {
          "id": "@@CRED_POSTGRES_ID@@",
          "name": "Postgres (n8n)"
        }
      },
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Resolve a possibly-imprecise file mention to a REAL path from the catalog,\n// deterministically (no LLM guessing). Zero-dependency Jaro-Winkler vs each\n// catalog path's basename AND full path, case-insensitive. Reads the dispatch\n// fields from Build Dispatch and the catalog from Load Catalog. Graceful: any\n// error, no mention, or empty catalog -> gate 'continue' with the dispatch\n// unchanged (normal routing). Thresholds per the research synthesis (7.3):\n//   >=0.85 auto-resolve (inject verified path) | 0.70-0.84 ask / list candidates\n//   <0.70 offer a folder listing. Never gives up, never invents.\nconst d = $('Build Dispatch').first().json || {};\nconst sanitized = d.sanitized || '';\nconst intent = (typeof d.intent === 'string') ? d.intent : 'unknown';\nconst confidence = (typeof d.confidence === 'number') ? d.confidence : 0;\nconst mention = (typeof d.entity_mention === 'string') ? d.entity_mention.trim() : '';\nconst base = { sanitized: sanitized, intent: intent, confidence: confidence, entity_mention: mention || null };\nfunction jaro(a, b) {\n  if (a === b) return 1;\n  const al = a.length, bl = b.length;\n  if (al === 0 || bl === 0) return 0;\n  const md = Math.max(0, Math.floor(Math.max(al, bl) / 2) - 1);\n  const am = new Array(al).fill(false), bm = new Array(bl).fill(false);\n  let matches = 0;\n  for (let i = 0; i < al; i++) {\n    const lo = Math.max(0, i - md), hi = Math.min(i + md + 1, bl);\n    for (let j = lo; j < hi; j++) { if (!bm[j] && a[i] === b[j]) { am[i] = true; bm[j] = true; matches++; break; } }\n  }\n  if (matches === 0) return 0;\n  let tr = 0, k = 0;\n  for (let i = 0; i < al; i++) { if (am[i]) { while (!bm[k]) k++; if (a[i] !== b[k]) tr++; k++; } }\n  tr = tr / 2;\n  return (matches / al + matches / bl + (matches - tr) / matches) / 3;\n}\nfunction jw(a, b) {\n  const j = jaro(a, b);\n  let p = 0; const mx = Math.min(4, Math.min(a.length, b.length));\n  while (p < mx && a[p] === b[p]) p++;\n  return j + p * 0.1 * (1 - j);\n}\ntry {\n  const cat = $('Load Catalog').first().json || {};\n  let paths = cat.paths;\n  if (typeof paths === 'string') { try { paths = JSON.parse(paths); } catch (e) { paths = []; } }\n  if (!Array.isArray(paths)) paths = [];\n  if (!mention || paths.length === 0) {\n    return [{ json: Object.assign({}, base, { gate: 'continue', resolved: false }) }];\n  }\n  const q = mention.toLowerCase();\n  const scored = [];\n  for (let i = 0; i < paths.length; i++) {\n    const full = String(paths[i]);\n    const bn = full.split('/').pop();\n    const sc = Math.max(jw(q, full.toLowerCase()), jw(q, bn.toLowerCase()));\n    scored.push({ path: full, score: sc });\n  }\n  scored.sort(function (x, y) { return y.score - x.score; });\n  const best = scored[0];\n  const cands = scored.filter(function (x) { return x.score >= 0.70; }).slice(0, 4);\n  if (best.score >= 0.85) {\n    const note = sanitized + '\\n\\n[\\u05d4\\u05de\\u05e2\\u05e8\\u05db\\u05ea \\u05d0\\u05d9\\u05de\\u05ea\\u05d4: \\u05d4\\u05e0\\u05ea\\u05d9\\u05d1 \\u05d4\\u05de\\u05d3\\u05d5\\u05d9\\u05e7 \\u05d4\\u05d5\\u05d0 \"' + best.path + '\". \\u05e7\\u05e8\\u05d0 \\u05d0\\u05d5\\u05ea\\u05d5 \\u05e2\\u05dd read_file:' + best.path + '.]';\n    return [{ json: { sanitized: note, intent: intent, confidence: confidence, entity_mention: mention, gate: 'continue', resolved: true, resolved_path: best.path, score: best.score } }];\n  }\n  if (best.score >= 0.70) {\n    let reply;\n    if (cands.length > 1) {\n      let lines = '\\u05d4\\u05ea\\u05db\\u05d5\\u05d5\\u05e0\\u05ea \\u05dc:';\n      for (let i = 0; i < cands.length; i++) { lines += '\\n' + (i + 1) + ') ' + cands[i].path; }\n      lines += '\\n\\u05e2\\u05e0\\u05d4 \\u05d1\\u05de\\u05e1\\u05e4\\u05e8.';\n      reply = lines;\n    } else {\n      reply = '\\u05d4\\u05ea\\u05db\\u05d5\\u05d5\\u05e0\\u05ea \\u05dc-`' + best.path + '`? (\\u05db\\u05df/\\u05dc\\u05d0)';\n    }\n    return [{ json: Object.assign({}, base, { gate: 'stop', resolved: false, reply: reply, score: best.score }) }];\n  }\n  return [{ json: Object.assign({}, base, { gate: 'stop', resolved: false, reply: '\\u05dc\\u05d0 \\u05de\\u05e6\\u05d0\\u05ea\\u05d9 \\u05e7\\u05d5\\u05d1\\u05e5 \\u05e9\\u05de\\u05ea\\u05d0\\u05d9\\u05dd. \\u05e8\\u05d5\\u05e6\\u05d4 \\u05e9\\u05d0\\u05e6\\u05d9\\u05d2 \\u05d0\\u05ea \\u05ea\\u05d5\\u05db\\u05df \\u05d4\\u05ea\\u05d9\\u05e7\\u05d9\\u05d9\\u05d4 \\u05d4\\u05e8\\u05d0\\u05e9\\u05d9\\u05ea? \\u05ea\\u05df \\u05e9\\u05dd \\u05de\\u05d3\\u05d5\\u05d9\\u05e7 \\u05d0\\u05dd \\u05d9\\u05e9.', score: best.score }) }];\n} catch (e) {\n  return [{ json: Object.assign({}, base, { gate: 'continue', resolved: false }) }];\n}"
      },
      "id": "a0000000-0000-0000-0000-000000000011",
      "name": "Resolve Entity",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        320
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "c2000000-0000-0000-0000-000000000001",
                    "leftValue": "={{ $json.gate }}",
                    "rightValue": "continue",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "continue"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "stop"
        }
      },
      "id": "a0000000-0000-0000-0000-000000000012",
      "name": "Resolver Gate",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1100,
        460
      ]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "c1000000-0000-0000-0000-000000000001",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "ops",
                    "operator": { "type": "string", "operation": "equals" }
                  },
                  {
                    "id": "c1000000-0000-0000-0000-000000000002",
                    "leftValue": "={{ $json.confidence }}",
                    "rightValue": 0.7,
                    "operator": { "type": "number", "operation": "gte" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "ops"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "c1000000-0000-0000-0000-000000000003",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "code",
                    "operator": { "type": "string", "operation": "equals" }
                  },
                  {
                    "id": "c1000000-0000-0000-0000-000000000004",
                    "leftValue": "={{ $json.confidence }}",
                    "rightValue": 0.7,
                    "operator": { "type": "number", "operation": "gte" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "code"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "c1000000-0000-0000-0000-000000000005",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "research",
                    "operator": { "type": "string", "operation": "equals" }
                  },
                  {
                    "id": "c1000000-0000-0000-0000-000000000006",
                    "leftValue": "={{ $json.confidence }}",
                    "rightValue": 0.7,
                    "operator": { "type": "number", "operation": "gte" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "research"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "c1000000-0000-0000-0000-000000000007",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "infra",
                    "operator": { "type": "string", "operation": "equals" }
                  },
                  {
                    "id": "c1000000-0000-0000-0000-000000000008",
                    "leftValue": "={{ $json.confidence }}",
                    "rightValue": 0.7,
                    "operator": { "type": "number", "operation": "gte" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "infra"
            }
          ]
        },
        "options": { "fallbackOutput": "extra", "renameFallbackOutput": "unknown" }
      },
      "id": "a0000000-0000-0000-0000-000000000007",
      "name": "Route by Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1100, 320]
    },
    {
      "parameters": {
        "workflowId": { "__rl": true, "value": "@@SUB_OPS_WF_ID@@", "mode": "id" },
        "mode": "once",
        "options": {}
      },
      "id": "a0000000-0000-0000-0000-000000000008",
      "name": "Call ops Sub-workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1340, 220]
    },
    {
      "parameters": {
        "workflowId": { "__rl": true, "value": "@@SUB_UNKNOWN_WF_ID@@", "mode": "id" },
        "mode": "once",
        "options": {}
      },
      "id": "a0000000-0000-0000-0000-000000000009",
      "name": "Call unknown Sub-workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1340, 420]
    },
    {
      "parameters": {
        "workflowId": { "__rl": true, "value": "@@SUB_CODE_WF_ID@@", "mode": "id" },
        "mode": "once",
        "options": {}
      },
      "id": "a0000000-0000-0000-0000-00000000000b",
      "name": "Call code Sub-workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1340, 520]
    },
    {
      "parameters": {
        "workflowId": { "__rl": true, "value": "@@SUB_RESEARCH_WF_ID@@", "mode": "id" },
        "mode": "once",
        "options": {}
      },
      "id": "a0000000-0000-0000-0000-00000000000c",
      "name": "Call research Sub-workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1340, 620]
    },
    {
      "parameters": {
        "workflowId": { "__rl": true, "value": "@@SUB_INFRA_WF_ID@@", "mode": "id" },
        "mode": "once",
        "options": {}
      },
      "id": "a0000000-0000-0000-0000-00000000000d",
      "name": "Call infra Sub-workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1340, 720]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// L5 egress validation: reject exec/eval, strip <script>, redact non-allowlisted\n// URLs in the body, cap length. A trailing [[SOURCES]] block (emitted by the\n// research agent when it web-searched) is exempt from URL redaction so genuine,\n// model-cited source links survive — deduplicated, capped at 10, rendered under\n// a plain header. The body of the answer is still fully allowlist-redacted.\nconst item = $input.first().json;\nlet reply = (item.reply !== undefined && item.reply !== null) ? item.reply : ((item.output !== undefined && item.output !== null) ? item.output : '');\nreply = String(reply);\nif (/exec\\s*\\(|eval\\s*\\(/i.test(reply)) {\n  return [{ json: { reply: 'Response withheld by egress policy.' } }];\n}\nreply = reply.replace(/<script[\\s\\S]*?<\\/script>/gi, '').replace(/<\\/?script[^>]*>/gi, '');\nconst ALLOW = /(^|\\.)(or-infra\\.com|openrouter\\.ai|n8n\\.io|github\\.com|railway\\.app|railway\\.com)$/i;\nconst redactBody = function (text) {\n  return text.replace(/https?:\\/\\/[^\\s<>\"')]+/gi, function (u) {\n    try { return ALLOW.test(new URL(u).hostname) ? u : '[redacted-url]'; }\n    catch (e) { return '[redacted-url]'; }\n  });\n};\nconst MARK = '[[SOURCES]]';\nconst at = reply.indexOf(MARK);\nconst body = redactBody(at >= 0 ? reply.slice(0, at) : reply).replace(/\\s+$/, '');\nlet sourcesBlock = '';\nif (at >= 0) {\n  const tail = reply.slice(at + MARK.length);\n  const found = tail.match(/https?:\\/\\/[^\\s<>\"')\\]]+/gi) || [];\n  const seen = {};\n  const urls = [];\n  for (let i = 0; i < found.length; i++) {\n    const u = found[i].replace(/[.,;)\\]]+$/, '');\n    const key = u.toLowerCase();\n    if (!seen[key]) { seen[key] = true; urls.push(u); }\n    if (urls.length >= 10) { break; }\n  }\n  if (urls.length) {\n    const lines = ['מקורות:'];\n    for (let j = 0; j < urls.length; j++) { lines.push((j + 1) + '. ' + urls[j]); }\n    sourcesBlock = lines.join('\\n');\n  }\n}\nlet out = sourcesBlock ? (body + '\\n\\n' + sourcesBlock) : body;\nif (out.length > 4000) {\n  if (sourcesBlock && sourcesBlock.length < 3500) {\n    out = body.slice(0, 4000 - sourcesBlock.length - 2) + '\\n\\n' + sourcesBlock;\n  } else {\n    out = out.slice(0, 4000);\n  }\n}\nreturn [{ json: { reply: out } }];"
      },
      "id": "a0000000-0000-0000-0000-00000000000a",
      "name": "Egress Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 320]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Sanitize Input", "type": "main", "index": 0 }]] },
    "Sanitize Input": { "main": [[{ "node": "Detect Deep Research", "type": "main", "index": 0 }]] },
    "Detect Deep Research": { "main": [[{ "node": "Deep Gate", "type": "main", "index": 0 }]] },
    "Deep Gate": {
      "main": [
        [{ "node": "Kick Deep Research", "type": "main", "index": 0 }],
        [{ "node": "Classify Intent", "type": "main", "index": 0 }]
      ]
    },
    "Kick Deep Research": { "main": [[{ "node": "Deep Ack", "type": "main", "index": 0 }]] },
    "Deep Ack": { "main": [[{ "node": "Egress Validation", "type": "main", "index": 0 }]] },
    "Classify Intent": { "main": [[{ "node": "Build Dispatch", "type": "main", "index": 0 }]] },
    "Classifier Model": { "ai_languageModel": [[{ "node": "Classify Intent", "type": "ai_languageModel", "index": 0 }]] },
    "Build Dispatch": { "main": [[{ "node": "Load Catalog", "type": "main", "index": 0 }]] },
    "Load Catalog": { "main": [[{ "node": "Resolve Entity", "type": "main", "index": 0 }]] },
    "Resolve Entity": { "main": [[{ "node": "Resolver Gate", "type": "main", "index": 0 }]] },
    "Resolver Gate": {
      "main": [
        [{ "node": "Route by Intent", "type": "main", "index": 0 }],
        [{ "node": "Egress Validation", "type": "main", "index": 0 }]
      ]
    },
    "Route by Intent": {
      "main": [
        [{ "node": "Call ops Sub-workflow", "type": "main", "index": 0 }],
        [{ "node": "Call code Sub-workflow", "type": "main", "index": 0 }],
        [{ "node": "Call research Sub-workflow", "type": "main", "index": 0 }],
        [{ "node": "Call infra Sub-workflow", "type": "main", "index": 0 }],
        [{ "node": "Call unknown Sub-workflow", "type": "main", "index": 0 }]
      ]
    },
    "Call ops Sub-workflow": { "main": [[{ "node": "Egress Validation", "type": "main", "index": 0 }]] },
    "Call code Sub-workflow": { "main": [[{ "node": "Egress Validation", "type": "main", "index": 0 }]] },
    "Call research Sub-workflow": { "main": [[{ "node": "Egress Validation", "type": "main", "index": 0 }]] },
    "Call infra Sub-workflow": { "main": [[{ "node": "Egress Validation", "type": "main", "index": 0 }]] },
    "Call unknown Sub-workflow": { "main": [[{ "node": "Egress Validation", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
