templates/system/workflows/n8n/file-catalog-refresh.json
{
  "name": "factory-master: file-catalog-refresh",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 * * * *"
            }
          ]
        }
      },
      "id": "80000000-0000-0000-0000-000000000001",
      "name": "Hourly",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        360
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Reuse a cached installation token across executions to avoid minting on every\n// run. Tokens live 1h; refresh only when within 5 min (300s) of expiry. The\n// token is treated as an OPAQUE string — no length/format assumptions. Mirrors\n// github-readonly's Token Cache Check (separate workflow => separate staticData).\nconst sd = $getWorkflowStaticData('global');\nconst cache = (sd && sd.github_token_cache) || {};\nconst now = Math.floor(Date.now() / 1000);\nconst valid = !!(cache.token && cache.exp && (cache.exp - now > 300));\nif (valid) {\n  return [{ json: { cached: true, token: cache.token, exp: cache.exp } }];\n}\nreturn [{ json: { cached: false } }];"
      },
      "id": "80000000-0000-0000-0000-000000000002",
      "name": "Token Cache Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "81000000-0000-0000-0000-000000000001",
              "leftValue": "={{ $json.cached }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "80000000-0000-0000-0000-000000000003",
      "name": "Token Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        640,
        360
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Build the GitHub App JWT claims. iat backdated 60s for clock skew; exp 9 min\n// (GitHub max is 10). iss is the App ID, injected at install time as a non-secret\n// placeholder. Signing happens in the built-in JWT node (RS256 + PEM credential).\nconst now = Math.floor(Date.now() / 1000);\nreturn [{ json: { iat: now - 60, exp: now + 540, iss: '@@GITHUB_APP_ID@@' } }];"
      },
      "id": "80000000-0000-0000-0000-000000000004",
      "name": "Build JWT Claims",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        560
      ]
    },
    {
      "parameters": {
        "operation": "sign",
        "useJson": true,
        "claimsJson": "={{ JSON.stringify({ iat: $json.iat, exp: $json.exp, iss: $json.iss }) }}",
        "options": {}
      },
      "id": "80000000-0000-0000-0000-000000000005",
      "name": "Sign JWT",
      "type": "n8n-nodes-base.jwt",
      "typeVersion": 1,
      "position": [
        840,
        560
      ],
      "credentials": {
        "jwtAuth": {
          "id": "@@CRED_GITHUB_JWT_ID@@",
          "name": "GitHub App JWT (RS256)"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/app/installations/@@GITHUB_INSTALLATION_ID@@/access_tokens",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.token }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {}
      },
      "id": "80000000-0000-0000-0000-000000000006",
      "name": "Mint Installation Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        560
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Persist the freshly-minted installation token in workflow static data so the\n// next execution reuses it (Token Cache Check). exp from GitHub's expires_at\n// (ISO) -> epoch seconds; fall back to now+50min if missing. Token kept opaque.\nconst resp = ($input.first() && $input.first().json) || {};\nconst token = resp.token || '';\nconst exp = resp.expires_at ? Math.floor(new Date(resp.expires_at).getTime() / 1000) : (Math.floor(Date.now() / 1000) + 3000);\nconst sd = $getWorkflowStaticData('global');\nsd.github_token_cache = { token: token, exp: exp };\nreturn [{ json: { cached: false, token: token, exp: exp } }];"
      },
      "id": "80000000-0000-0000-0000-000000000007",
      "name": "Cache Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1240,
        560
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/edri2or/@@SYSTEM_NAME@@/git/trees/HEAD?recursive=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.token }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {}
      },
      "id": "80000000-0000-0000-0000-000000000008",
      "name": "Fetch Tree",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1460,
        360
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Collect every blob (file) path from the recursive Git Trees response into a\n// flat string array for the resolver's fuzzy matcher. Soft-fail: a failed or\n// empty tree fetch yields paths:[] (ok:false), and the downstream 'Has Paths?'\n// guard then skips the upsert so an existing catalog is never wiped. If GitHub\n// truncated the tree (>100k files / 7MB — not expected for factory systems) we\n// keep what returned and flag it. Never throws.\nconst resp = ($input.first() && $input.first().json) || {};\nconst tree = Array.isArray(resp.tree) ? resp.tree : [];\nconst paths = [];\nfor (let i = 0; i < tree.length; i++) {\n  const e = tree[i];\n  if (e && e.type === 'blob' && typeof e.path === 'string' && e.path) { paths.push(e.path); }\n}\nconst ok = paths.length > 0;\nreturn [{ json: { ok: ok, count: paths.length, truncated: resp.truncated === true, paths: paths } }];"
      },
      "id": "80000000-0000-0000-0000-000000000009",
      "name": "Extract Paths",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "81000000-0000-0000-0000-000000000002",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "80000000-0000-0000-0000-00000000000a",
      "name": "Has Paths?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1900,
        360
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO file_catalog (chat_id, paths, refreshed_at)\nVALUES ({{ '@@CHAT_ID@@' }}, {{ JSON.stringify(JSON.stringify($json.paths)) }}::jsonb, NOW())\nON CONFLICT (chat_id) DO UPDATE SET paths = EXCLUDED.paths, refreshed_at = NOW();",
        "options": {}
      },
      "id": "80000000-0000-0000-0000-00000000000b",
      "name": "Upsert Catalog",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2120,
        260
      ],
      "credentials": {
        "postgres": {
          "id": "@@CRED_POSTGRES_ID@@",
          "name": "Postgres (n8n)"
        }
      },
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    }
  ],
  "connections": {
    "Hourly": {
      "main": [
        [
          {
            "node": "Token Cache Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Cache Check": {
      "main": [
        [
          {
            "node": "Token Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Valid?": {
      "main": [
        [
          {
            "node": "Fetch Tree",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build JWT Claims",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build JWT Claims": {
      "main": [
        [
          {
            "node": "Sign JWT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sign JWT": {
      "main": [
        [
          {
            "node": "Mint Installation Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mint Installation Token": {
      "main": [
        [
          {
            "node": "Cache Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cache Token": {
      "main": [
        [
          {
            "node": "Fetch Tree",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Tree": {
      "main": [
        [
          {
            "node": "Extract Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Paths": {
      "main": [
        [
          {
            "node": "Has Paths?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Paths?": {
      "main": [
        [
          {
            "node": "Upsert Catalog",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
