templates/system/workflows/n8n/github-readonly.json
{
  "name": "factory-master: github-readonly",
  "active": false,
  "nodes": [
    {
      "parameters": { "inputSource": "passthrough" },
      "id": "70000000-0000-0000-0000-000000000001",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [220, 360]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Normalize the LLM's tool args into a uniform { command } shape.\n// Mirrors postgres-named-queries 'Normalize Input' (Stage 113): the toolWorkflow\n// node uses specifyInputSchema:false, so the LLM passes a single RAW STRING as the\n// tool's arg. With the trigger in passthrough mode that string arrives at\n// $json.query. Valid commands: ci_runs | recent_commits | open_prs.\nconst items = $input.all();\nconst raw = (items[0] && items[0].json) || {};\nconst valid = ['ci_runs', 'recent_commits', 'open_prs'];\nconst tryString = (s) => {\n  if (typeof s !== 'string') return '';\n  const t = s.trim();\n  if (!t) return '';\n  if (valid.indexOf(t) >= 0) return t;\n  try { const p = JSON.parse(t); if (p && typeof p.command === 'string') return p.command; } catch (e) { /* ignore */ }\n  return '';\n};\nlet cmd = '';\nif (typeof raw.command === 'string' && raw.command) {\n  cmd = valid.indexOf(raw.command.trim()) >= 0 ? raw.command.trim() : tryString(raw.command);\n} else if (typeof raw.query === 'string') {\n  cmd = tryString(raw.query);\n} else if (raw.query && typeof raw.query === 'object' && typeof raw.query.command === 'string') {\n  cmd = raw.query.command;\n} else if (raw.input && typeof raw.input.command === 'string') {\n  cmd = raw.input.command;\n} else if (typeof raw.arguments === 'string') {\n  cmd = tryString(raw.arguments);\n}\nreturn [{ json: { command: cmd, _raw_input: raw } }];"
      },
      "id": "70000000-0000-0000-0000-00000000000a",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 360]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Reuse a cached installation token across executions to avoid minting on every\n// call. Tokens live 1h; refresh only when within 5 min (300s) of expiry. The\n// token is treated as an OPAQUE string — no length/format assumptions (GitHub's\n// 2026 stateless tokens are ~520 chars and growing).\nconst sd = $getWorkflowStaticData('global');\nconst cache = (sd && sd.github_token_cache) || {};\nconst now = Math.floor(Date.now() / 1000);\nconst valid = !!(cache.token && cache.exp && (cache.exp - now > 300));\nif (valid) {\n  return [{ json: { cached: true, token: cache.token, exp: cache.exp } }];\n}\nreturn [{ json: { cached: false } }];"
      },
      "id": "70000000-0000-0000-0000-000000000002",
      "name": "Token Cache Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 360]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
          "combinator": "and",
          "conditions": [
            {
              "id": "71000000-0000-0000-0000-000000000001",
              "leftValue": "={{ $json.cached }}",
              "rightValue": "",
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ]
        },
        "options": {}
      },
      "id": "70000000-0000-0000-0000-000000000003",
      "name": "Token Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [800, 360]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Build the GitHub App JWT claims. iat backdated 60s for clock skew; exp 9 min\n// (GitHub max is 10). iss is the App ID, injected at install time as a non-secret\n// placeholder. The signing itself happens in the built-in JWT node (RS256 + PEM\n// credential) so the n8n container does NOT need NODE_FUNCTION_ALLOW_BUILTIN=crypto.\nconst now = Math.floor(Date.now() / 1000);\nreturn [{ json: { iat: now - 60, exp: now + 540, iss: '@@GITHUB_APP_ID@@' } }];"
      },
      "id": "70000000-0000-0000-0000-000000000004",
      "name": "Build JWT Claims",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 540]
    },
    {
      "parameters": {
        "operation": "sign",
        "useJson": true,
        "claimsJson": "={{ JSON.stringify({ iat: $json.iat, exp: $json.exp, iss: $json.iss }) }}",
        "options": {}
      },
      "id": "70000000-0000-0000-0000-000000000005",
      "name": "Sign JWT",
      "type": "n8n-nodes-base.jwt",
      "typeVersion": 1,
      "position": [1000, 540],
      "credentials": { "jwtAuth": { "id": "@@CRED_GITHUB_JWT_ID@@", "name": "GitHub App JWT (RS256)" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/app/installations/@@GITHUB_INSTALLATION_ID@@/access_tokens",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.token }}" },
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "options": {}
      },
      "id": "70000000-0000-0000-0000-000000000006",
      "name": "Mint Installation Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 540],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Persist the freshly-minted installation token in workflow static data so the\n// next execution reuses it (Token Cache Check). exp from GitHub's expires_at\n// (ISO) → epoch seconds; fall back to now+50min if missing. Token kept opaque.\nconst resp = ($input.first() && $input.first().json) || {};\nconst token = resp.token || '';\nconst exp = resp.expires_at ? Math.floor(new Date(resp.expires_at).getTime() / 1000) : (Math.floor(Date.now() / 1000) + 3000);\nconst sd = $getWorkflowStaticData('global');\nsd.github_token_cache = { token: token, exp: exp };\nreturn [{ json: { cached: false, token: token, exp: exp } }];"
      },
      "id": "70000000-0000-0000-0000-000000000007",
      "name": "Cache Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 540]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "72000000-0000-0000-0000-000000000001",
                    "leftValue": "={{ $('Normalize Input').first().json.command }}",
                    "rightValue": "ci_runs",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "ci_runs"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "72000000-0000-0000-0000-000000000002",
                    "leftValue": "={{ $('Normalize Input').first().json.command }}",
                    "rightValue": "recent_commits",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "recent_commits"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "72000000-0000-0000-0000-000000000003",
                    "leftValue": "={{ $('Normalize Input').first().json.command }}",
                    "rightValue": "open_prs",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "open_prs"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "unknown_command"
        }
      },
      "id": "70000000-0000-0000-0000-000000000008",
      "name": "Route by Command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1620, 360]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/edri2or/@@SYSTEM_NAME@@/actions/runs?per_page=10",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.token }}" },
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "options": {}
      },
      "id": "70000000-0000-0000-0000-000000000009",
      "name": "GH CI Runs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1860, 180],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/edri2or/@@SYSTEM_NAME@@/commits?per_page=10",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.token }}" },
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "options": {}
      },
      "id": "70000000-0000-0000-0000-00000000000b",
      "name": "GH Recent Commits",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1860, 360],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/edri2or/@@SYSTEM_NAME@@/pulls?state=open&per_page=10",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.token }}" },
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "options": {}
      },
      "id": "70000000-0000-0000-0000-00000000000c",
      "name": "GH Open PRs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1860, 540],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Flatten whichever GitHub branch ran into a uniform tool response, keeping\n// html_url links intact (links are allowed downstream — the router egress\n// allow-list permits github.com). command comes from Normalize Input. A GitHub\n// REST error arrives as a single { message, documentation_url } object → ok:false.\nconst command = String($('Normalize Input').first().json.command || '');\nconst items = $input.all().map(i => i && i.json).filter(Boolean);\nconst firstObj = items[0] || {};\nlet ok = true;\nlet data = items;\nif (firstObj && typeof firstObj.message === 'string' && (firstObj.documentation_url || firstObj.status)) {\n  ok = false;\n  data = firstObj;\n} else if (command === 'ci_runs') {\n  data = (firstObj && Array.isArray(firstObj.workflow_runs)) ? firstObj.workflow_runs : items;\n} else {\n  data = items;\n}\nreturn [{ json: { ok: ok, command: command, data: data } }];"
      },
      "id": "70000000-0000-0000-0000-00000000000d",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2100, 360]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "73000000-0000-0000-0000-000000000001",
              "name": "ok",
              "type": "boolean",
              "value": "=false"
            },
            {
              "id": "73000000-0000-0000-0000-000000000002",
              "name": "command",
              "type": "string",
              "value": "={{ $('Normalize Input').first().json.command }}"
            },
            {
              "id": "73000000-0000-0000-0000-000000000003",
              "name": "error",
              "type": "string",
              "value": "unknown command — valid: ci_runs, recent_commits, open_prs"
            },
            {
              "id": "73000000-0000-0000-0000-000000000004",
              "name": "_debug_received",
              "type": "object",
              "value": "={{ $('Normalize Input').first().json._raw_input }}"
            }
          ]
        },
        "options": {}
      },
      "id": "70000000-0000-0000-0000-00000000000e",
      "name": "Unknown Command",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1860, 720]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": { "main": [[{ "node": "Normalize Input", "type": "main", "index": 0 }]] },
    "Normalize Input": { "main": [[{ "node": "Token Cache Check", "type": "main", "index": 0 }]] },
    "Token Cache Check": { "main": [[{ "node": "Token Valid?", "type": "main", "index": 0 }]] },
    "Token Valid?": {
      "main": [
        [{ "node": "Route by Command", "type": "main", "index": 0 }],
        [{ "node": "Build JWT Claims", "type": "main", "index": 0 }]
      ]
    },
    "Build JWT Claims": { "main": [[{ "node": "Sign JWT", "type": "main", "index": 0 }]] },
    "Sign JWT": { "main": [[{ "node": "Mint Installation Token", "type": "main", "index": 0 }]] },
    "Mint Installation Token": { "main": [[{ "node": "Cache Token", "type": "main", "index": 0 }]] },
    "Cache Token": { "main": [[{ "node": "Route by Command", "type": "main", "index": 0 }]] },
    "Route by Command": {
      "main": [
        [{ "node": "GH CI Runs", "type": "main", "index": 0 }],
        [{ "node": "GH Recent Commits", "type": "main", "index": 0 }],
        [{ "node": "GH Open PRs", "type": "main", "index": 0 }],
        [{ "node": "Unknown Command", "type": "main", "index": 0 }]
      ]
    },
    "GH CI Runs": { "main": [[{ "node": "Format Output", "type": "main", "index": 0 }]] },
    "GH Recent Commits": { "main": [[{ "node": "Format Output", "type": "main", "index": 0 }]] },
    "GH Open PRs": { "main": [[{ "node": "Format Output", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
