templates/system/workflows/n8n/infra-agent.json
{
  "name": "factory-master: infra-agent",
  "active": false,
  "nodes": [
    {
      "parameters": { "inputSource": "passthrough" },
      "id": "f0000000-0000-0000-0000-000000000001",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [240, 320]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.sanitized }}",
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "You are the INFRA sub-agent for a self-hosted automation system. You give advice about infrastructure: DNS, secrets, cloud resources, deployments, and networking. You are READ-ONLY and ADVISORY ONLY — you have no tools and cannot inspect or change any resource. Never claim to perform, to have performed, or to be performing any change. Explain what should be done and how, then state clearly that actually applying the change requires human approval and is not enabled yet. Be concise and accurate. Answer in the user's language (Hebrew or English, detected from the input). Never invent URLs or secrets."
            }
          ]
        }
      },
      "id": "f0000000-0000-0000-0000-000000000002",
      "name": "Infra Reply",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [480, 320]
    },
    {
      "parameters": {
        "model": "openai/gpt-5-mini",
        "options": { "temperature": 0.3 }
      },
      "id": "f0000000-0000-0000-0000-000000000003",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [480, 540],
      "credentials": { "openRouterApi": { "id": "@@CRED_OPENROUTER_ID@@", "name": "OpenRouter (factory-master)" } }
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "f1000000-0000-0000-0000-000000000001",
              "name": "reply",
              "type": "string",
              "value": "={{ $json.text || $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f0000000-0000-0000-0000-000000000004",
      "name": "Format Reply",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [720, 320]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": { "main": [[{ "node": "Infra Reply", "type": "main", "index": 0 }]] },
    "OpenRouter Chat Model": { "ai_languageModel": [[{ "node": "Infra Reply", "type": "ai_languageModel", "index": 0 }]] },
    "Infra Reply": { "main": [[{ "node": "Format Reply", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
