templates/system/workflows/n8n/ops-agent.json
{
  "name": "factory-master: ops-agent",
  "active": false,
  "nodes": [
    {
      "parameters": { "inputSource": "passthrough" },
      "id": "b0000000-0000-0000-0000-000000000001",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [240, 320]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT profile FROM style_profile WHERE chat_id = @@CHAT_ID@@ LIMIT 1;",
        "options": {}
      },
      "id": "b0000000-0000-0000-0000-000000000008",
      "name": "Read Style Profile",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [380, 320],
      "credentials": { "postgres": { "id": "@@CRED_POSTGRES_ID@@", "name": "Postgres (n8n)" } },
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When Executed by Another Workflow').first().json.sanitized }}",
        "options": {
          "systemMessage": "=You provide operational assistance for a self-hosted automation system: deployment status, service health, logs, CI, commits, pull requests, execution history, and routine ops tasks. You have four READ-ONLY tools to inspect this system, all returning live JSON — base your answer on what they return: (1) n8n API lists this system's workflows + their active/inactive status; (2) postgres_named_query runs a fixed whitelist of SELECTs against this system's own database — send one raw string: style_profile_get | recent_audit_log | pending_actions_open | executions_summary_24h; (3) github_readonly reads this system's own GitHub repo as its GitHub App — send one raw string: ci_runs | recent_commits | open_prs, or read_file:<path> to read a repo file's contents; (4) railway_readonly reads this system's Railway deployment — send one raw string: deploy_status | recent_logs. Use github_readonly for what-happened-on-GitHub questions and railway_readonly for deploy-success/health/logs questions. You MAY include direct GitHub and Railway URLs (html_url, staticUrl) returned by these tools — those links are allowed. IMPORTANT: if the user asks what a file contains, or to read/show/open a file (e.g. AGENTS.md, README, a workflow JSON, or any repo path), that is a REPO file — call github_readonly with read_file:<path> (e.g. read_file:AGENTS.md). Never reply that you cannot read files: you CAN read this repo's files via that tool (you only lack arbitrary local-disk access outside the repo). If the system has already provided you a verified file path, call read_file with exactly that path. For broad questions about folder structure or 'what files exist', you may pass a folder path to github_readonly to get a directory listing. NEVER invent a file path. For factual questions about THIS system's identity (name, GCP project, region, runtime), consult the SYSTEM-INFO block below — never invent these facts.\n\nAPPROVED WRITE ACTIONS: you also have request_write_action — use it whenever the operator asks to RUN / EXECUTE / ACTIVATE / ENABLE / TURN ON / STOP / DEACTIVATE / DISABLE / TURN OFF an n8n automation, or to RUN a GitHub Actions workflow. Calling this tool IS what sends the operator the ✅/❌ approval buttons in Telegram; the action runs ONLY after they tap ✅. Get target_id (the n8n workflow id) from the n8n API tool first if you don't have it. CRITICAL — CALL, DON'T DESCRIBE: you MUST actually CALL request_write_action in the same turn. It is FORBIDDEN to reply in plain text that you 'need to send an approval request', that you 'will send' one, or to ask the operator 'do you want me to' WITHOUT calling the tool — saying that without calling the tool sends nothing and is a failure. Call it immediately once you have the target_id; do not ask the operator for permission first and do not describe it instead of calling. After it returns, tell the operator you've sent them an approval request to confirm; never claim you already performed the action.\n\nBe concise, accurate, and actionable. Never invent URLs or secrets, and never reveal the names of internal sub-agents or your own architectural role. Answer in the user's language (Hebrew or English, detected from the input).\n\nSYSTEM-INFO (authoritative facts about THIS system — do not invent or contradict; if asked about a fact not listed here, say you don't have it): @@SYSTEM_INFO_JSON@@{{ ($('Read Style Profile').first()?.json?.profile) ? ' Style profile (match in tone, length, emoji density, humor; do not announce you are matching it): ' + JSON.stringify($('Read Style Profile').first().json.profile) : '' }}"
        }
      },
      "id": "b0000000-0000-0000-0000-000000000002",
      "name": "Ops Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [520, 320]
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.5",
        "options": { "temperature": 0.3 }
      },
      "id": "b0000000-0000-0000-0000-000000000003",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [400, 560],
      "credentials": { "openRouterApi": { "id": "@@CRED_OPENROUTER_ID@@", "name": "OpenRouter (factory-master)" } }
    },
    {
      "parameters": {
        "toolDescription": "Call the system's own n8n Public API to get the live list of workflows and their active/inactive status. Use this to answer which workflows are active, automation/deployment status, or overall system status. Returns JSON.",
        "method": "GET",
        "url": "https://@@N8N_DOMAIN@@/api/v1/workflows",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": false
      },
      "id": "b0000000-0000-0000-0000-000000000005",
      "name": "n8n API",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [640, 560],
      "credentials": { "httpHeaderAuth": { "id": "@@CRED_N8N_API_ID@@", "name": "n8n Public API (X-N8N-API-KEY)" } }
    },
    {
      "parameters": {
        "name": "postgres_named_query",
        "description": "Call this tool with ONE input — a single string that is EXACTLY one of these 5 query names (do not wrap it in JSON or any object, just send the raw string): style_profile_get | recent_audit_log | pending_actions_open | executions_summary_24h | spend_total. The tool returns {ok:true, query_name, rows:[...]} for a valid name, or {ok:false, query_name, error} otherwise. style_profile_get = the operator's learned style profile. recent_audit_log = last 10 bot actions + decisions. pending_actions_open = open HITL-pending actions. executions_summary_24h = n8n executions in last 24h grouped by status. spend_total = the system's cumulative AI/LLM spend in USD (rows[0]: total_usd = authoritative cumulative cost, as_of = last update, logged_usd + log_rows = cross-check from the spend log); use it for 'how much have I spent' / 'how much did the bot/AI cost'. Prefer this over the n8n API tool for questions about audit history, pending approvals, conversation style, or execution counts/failures (the API only lists workflows; this query reads the executions table directly).",
        "workflowId": { "__rl": true, "value": "@@WF_PG_NAMED_QUERIES_ID@@", "mode": "id" }
      },
      "id": "b0000000-0000-0000-0000-000000000009",
      "name": "postgres_named_query",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [840, 560]
    },
    {
      "parameters": {
        "name": "github_readonly",
        "description": "Call this tool with ONE input — a single raw string (do not wrap it in JSON or any object). Reads LIVE read-only data from this system's own GitHub repo (edri2or/<this system>) as the system's GitHub App. Valid inputs: ci_runs = the 10 most recent CI workflow runs (status/conclusion/created); recent_commits = the 10 most recent commits; open_prs = currently-open pull requests; OR read_file:<path> to read the text contents of a file in the repo — send the literal string 'read_file:' followed by the repo-relative path, e.g. read_file:AGENTS.md or read_file:workflows/n8n/ops-agent.json. Returns {ok, command, data}; for read_file, data has {path, size, content, truncated, html_url} (content may be truncated for large files); other commands return arrays whose items may include html_url links you may share. Use this for questions about what happened on GitHub (CI passing/failing, recent commits, open PRs) and to read what a specific repo file contains. Passing a folder path (e.g. read_file:workflows/n8n) returns a listing of that folder's entries (each with name/path/type) instead of file contents — use that to discover what files exist.",
        "workflowId": { "__rl": true, "value": "@@WF_GITHUB_READONLY_ID@@", "mode": "id" }
      },
      "id": "b0000000-0000-0000-0000-00000000000a",
      "name": "github_readonly",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [1040, 560]
    },
    {
      "parameters": {
        "name": "railway_readonly",
        "description": "Call this tool with ONE input — a single raw string that is EXACTLY one of: deploy_status | recent_logs (do not wrap it in JSON or any object, just send the raw string). Reads LIVE read-only data from this system's Railway deployment. deploy_status = the latest deployments and their status (SUCCESS/BUILDING/DEPLOYING/CRASHED/FAILED/REMOVED) with createdAt + staticUrl. recent_logs = recent deployment logs (timestamp/message/severity) of the newest deployment. Returns {ok, command, data}; staticUrl links may be shared. Use this for questions about the deploy: did the last deploy succeed, is the service up, what do the latest logs say.",
        "workflowId": { "__rl": true, "value": "@@WF_RAILWAY_READONLY_ID@@", "mode": "id" }
      },
      "id": "b0000000-0000-0000-0000-00000000000b",
      "name": "railway_readonly",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [1240, 560]
    },
    {
      "parameters": {
        "name": "request_write_action",
        "description": "Call this to request an approved write action — when the operator asks to RUN / EXECUTE / ACTIVATE / ENABLE / TURN ON / STOP / DEACTIVATE / DISABLE / TURN OFF an n8n automation, or to RUN a GitHub Actions workflow. Calling this tool IS how the operator's ✅/❌ approval buttons get sent in Telegram; the action runs ONLY after they tap ✅. Fill in the fields. For n8n, get target_id (the workflow id) from the n8n API tool first if you don't have it. Call it immediately when the operator asks for the action — do NOT ask them for permission first and do NOT describe it in words instead of calling. After it returns, tell the operator you've sent them an approval request to confirm.",
        "workflowId": { "__rl": true, "value": "@@WF_REQUEST_WRITE_ID@@", "mode": "id" },
        "specifyInputSchema": true,
        "schemaType": "manual",
        "inputSchema": "{\"type\":\"object\",\"required\":[\"target_system\",\"action_type\",\"target_id\",\"human_summary\"],\"properties\":{\"target_system\":{\"type\":\"string\",\"enum\":[\"n8n\",\"github\"],\"description\":\"n8n for an n8n automation; github for a GitHub Actions workflow\"},\"action_type\":{\"type\":\"string\",\"description\":\"for n8n use activate or deactivate; for github use dispatch\"},\"target_id\":{\"type\":\"string\",\"description\":\"for n8n: the workflow id from the n8n API tool; for github: the workflow file name, e.g. deploy.yml\"},\"human_summary\":{\"type\":\"string\",\"description\":\"one short, clear Hebrew sentence describing exactly what will happen\"}}}"
      },
      "id": "b0000000-0000-0000-0000-00000000000c",
      "name": "request_write_action",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [1440, 560]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "b1000000-0000-0000-0000-000000000001",
              "name": "reply",
              "type": "string",
              "value": "={{ $json.output || $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b0000000-0000-0000-0000-000000000004",
      "name": "Format Reply",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [820, 320]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": { "main": [[{ "node": "Read Style Profile", "type": "main", "index": 0 }]] },
    "Read Style Profile": { "main": [[{ "node": "Ops Agent", "type": "main", "index": 0 }]] },
    "OpenRouter Chat Model": { "ai_languageModel": [[{ "node": "Ops Agent", "type": "ai_languageModel", "index": 0 }]] },
    "n8n API": { "ai_tool": [[{ "node": "Ops Agent", "type": "ai_tool", "index": 0 }]] },
    "postgres_named_query": { "ai_tool": [[{ "node": "Ops Agent", "type": "ai_tool", "index": 0 }]] },
    "github_readonly": { "ai_tool": [[{ "node": "Ops Agent", "type": "ai_tool", "index": 0 }]] },
    "railway_readonly": { "ai_tool": [[{ "node": "Ops Agent", "type": "ai_tool", "index": 0 }]] },
    "request_write_action": { "ai_tool": [[{ "node": "Ops Agent", "type": "ai_tool", "index": 0 }]] },
    "Ops Agent": { "main": [[{ "node": "Format Reply", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
