templates/system/workflows/n8n/ops-agent.json
{
  "name": "factory-master: ops-agent",
  "active": false,
  "nodes": [
    {
      "parameters": { "inputSource": "passthrough" },
      "id": "b0000000-0000-0000-0000-000000000001",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [240, 320]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.sanitized }}",
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "You are the OPS sub-agent for a self-hosted automation system. You handle operational questions: deployment status, service health, logs, restarts, and routine ops tasks. Be concise, accurate, and actionable. If you lack live data, say what you would check and where. Never invent URLs or secrets. Answer in the user's language (Hebrew or English, detected from the input)."
            }
          ]
        }
      },
      "id": "b0000000-0000-0000-0000-000000000002",
      "name": "Ops Reply",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [480, 320]
    },
    {
      "parameters": {
        "model": "anthropic/claude-haiku-4.5",
        "options": { "temperature": 0.3, "maxTokens": 500 }
      },
      "id": "b0000000-0000-0000-0000-000000000003",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [480, 540],
      "credentials": { "openRouterApi": { "id": "@@CRED_OPENROUTER_ID@@", "name": "OpenRouter (factory-master)" } }
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "b1000000-0000-0000-0000-000000000001",
              "name": "reply",
              "type": "string",
              "value": "={{ $json.text || $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b0000000-0000-0000-0000-000000000004",
      "name": "Format Reply",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [720, 320]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": { "main": [[{ "node": "Ops Reply", "type": "main", "index": 0 }]] },
    "OpenRouter Chat Model": { "ai_languageModel": [[{ "node": "Ops Reply", "type": "ai_languageModel", "index": 0 }]] },
    "Ops Reply": { "main": [[{ "node": "Format Reply", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
