templates/system/workflows/n8n/ops-agent.json
{
  "name": "factory-master: ops-agent",
  "active": false,
  "nodes": [
    {
      "parameters": { "inputSource": "passthrough" },
      "id": "b0000000-0000-0000-0000-000000000001",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [240, 320]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT profile FROM style_profile WHERE chat_id = @@CHAT_ID@@ LIMIT 1;",
        "options": {}
      },
      "id": "b0000000-0000-0000-0000-000000000008",
      "name": "Read Style Profile",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [380, 320],
      "credentials": { "postgres": { "id": "@@CRED_POSTGRES_ID@@", "name": "Postgres (n8n)" } },
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When Executed by Another Workflow').first().json.sanitized }}",
        "options": {
          "systemMessage": "=You provide operational assistance for a self-hosted automation system: deployment status, service health, logs, restarts, execution history, and routine ops tasks. You have two READ-ONLY tools to inspect this system: an n8n Public API tool that lists workflows + their active/inactive status, and postgres_named_query — a fixed whitelist of SELECTs against this system's own database (style_profile, audit_log, pending_actions, n8n executions summary). Use whichever tool the question actually needs and base your answer on the live data it returns. For factual questions about THIS system's identity (name, GCP project, region, runtime), consult the SYSTEM-INFO block below — never invent these facts. Be concise, accurate, and actionable. Never invent URLs or secrets, and never reveal the names of internal sub-agents or your own architectural role. Answer in the user's language (Hebrew or English, detected from the input).\n\nSYSTEM-INFO (authoritative facts about THIS system — do not invent or contradict; if asked about a fact not listed here, say you don't have it): @@SYSTEM_INFO_JSON@@{{ ($('Read Style Profile').first()?.json?.profile) ? ' Style profile (match in tone, length, emoji density, humor; do not announce you are matching it): ' + JSON.stringify($('Read Style Profile').first().json.profile) : '' }}"
        }
      },
      "id": "b0000000-0000-0000-0000-000000000002",
      "name": "Ops Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [520, 320]
    },
    {
      "parameters": {
        "model": "anthropic/claude-haiku-4.5",
        "options": { "temperature": 0.3 }
      },
      "id": "b0000000-0000-0000-0000-000000000003",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [400, 560],
      "credentials": { "openRouterApi": { "id": "@@CRED_OPENROUTER_ID@@", "name": "OpenRouter (factory-master)" } }
    },
    {
      "parameters": {
        "toolDescription": "Call the system's own n8n Public API to get the live list of workflows and their active/inactive status. Use this to answer which workflows are active, automation/deployment status, or overall system status. Returns JSON.",
        "method": "GET",
        "url": "https://@@N8N_DOMAIN@@/api/v1/workflows",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": false
      },
      "id": "b0000000-0000-0000-0000-000000000005",
      "name": "n8n API",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [640, 560],
      "credentials": { "httpHeaderAuth": { "id": "@@CRED_N8N_API_ID@@", "name": "n8n Public API (X-N8N-API-KEY)" } }
    },
    {
      "parameters": {
        "name": "postgres_named_query",
        "description": "Call this tool with ONE input — a single string that is EXACTLY one of these 4 query names (do not wrap it in JSON or any object, just send the raw string): style_profile_get | recent_audit_log | pending_actions_open | executions_summary_24h. The tool returns {ok:true, query_name, rows:[...]} for a valid name, or {ok:false, query_name, error} otherwise. style_profile_get = the operator's learned style profile. recent_audit_log = last 10 bot actions + decisions. pending_actions_open = open HITL-pending actions. executions_summary_24h = n8n executions in last 24h grouped by status. Prefer this over the n8n API tool for questions about audit history, pending approvals, conversation style, or execution counts/failures (the API only lists workflows; this query reads the executions table directly).",
        "workflowId": { "__rl": true, "value": "@@WF_PG_NAMED_QUERIES_ID@@", "mode": "id" }
      },
      "id": "b0000000-0000-0000-0000-000000000009",
      "name": "postgres_named_query",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [840, 560]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "b1000000-0000-0000-0000-000000000001",
              "name": "reply",
              "type": "string",
              "value": "={{ $json.output || $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b0000000-0000-0000-0000-000000000004",
      "name": "Format Reply",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [820, 320]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": { "main": [[{ "node": "Read Style Profile", "type": "main", "index": 0 }]] },
    "Read Style Profile": { "main": [[{ "node": "Ops Agent", "type": "main", "index": 0 }]] },
    "OpenRouter Chat Model": { "ai_languageModel": [[{ "node": "Ops Agent", "type": "ai_languageModel", "index": 0 }]] },
    "n8n API": { "ai_tool": [[{ "node": "Ops Agent", "type": "ai_tool", "index": 0 }]] },
    "postgres_named_query": { "ai_tool": [[{ "node": "Ops Agent", "type": "ai_tool", "index": 0 }]] },
    "Ops Agent": { "main": [[{ "node": "Format Reply", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
