templates/system/workflows/n8n/railway-readonly.json
{
  "name": "factory-master: railway-readonly",
  "active": false,
  "nodes": [
    {
      "parameters": { "inputSource": "passthrough" },
      "id": "60000000-0000-0000-0000-000000000001",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [220, 320]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Normalize the LLM's tool args into a uniform { command } shape.\n// Mirrors postgres-named-queries 'Normalize Input' (Stage 113): the toolWorkflow\n// node uses specifyInputSchema:false, so the LLM passes a single RAW STRING as the\n// tool's arg (no JSON wrapping). With the trigger in passthrough mode that string\n// arrives at $json.query. Try every observed shape so the Switch can read\n// $json.command uniformly. Valid commands: deploy_status | recent_logs.\nconst items = $input.all();\nconst raw = (items[0] && items[0].json) || {};\nconst valid = ['deploy_status', 'recent_logs'];\nconst tryString = (s) => {\n  if (typeof s !== 'string') return '';\n  const t = s.trim();\n  if (!t) return '';\n  if (valid.indexOf(t) >= 0) return t;\n  try { const p = JSON.parse(t); if (p && typeof p.command === 'string') return p.command; } catch (e) { /* ignore */ }\n  return '';\n};\nlet cmd = '';\nif (typeof raw.command === 'string' && raw.command) {\n  cmd = valid.indexOf(raw.command.trim()) >= 0 ? raw.command.trim() : tryString(raw.command);\n} else if (typeof raw.query === 'string') {\n  cmd = tryString(raw.query);\n} else if (raw.query && typeof raw.query === 'object' && typeof raw.query.command === 'string') {\n  cmd = raw.query.command;\n} else if (raw.input && typeof raw.input.command === 'string') {\n  cmd = raw.input.command;\n} else if (typeof raw.arguments === 'string') {\n  cmd = tryString(raw.arguments);\n}\nreturn [{ json: { command: cmd, _raw_input: raw } }];"
      },
      "id": "60000000-0000-0000-0000-00000000000a",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 320]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "61000000-0000-0000-0000-000000000001",
                    "leftValue": "={{ $('Normalize Input').first().json.command }}",
                    "rightValue": "deploy_status",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "deploy_status"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "61000000-0000-0000-0000-000000000002",
                    "leftValue": "={{ $('Normalize Input').first().json.command }}",
                    "rightValue": "recent_logs",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "recent_logs"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "unknown_command"
        }
      },
      "id": "60000000-0000-0000-0000-000000000002",
      "name": "Route by Command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [600, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backboard.railway.com/graphql/v2",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"query\":\"query($pid:String!){ project(id:$pid){ deployments(first:5){ edges{ node{ id status createdAt staticUrl }}}}}\",\"variables\":{\"pid\":\"@@RAILWAY_PROJECT_ID@@\"}}",
        "options": {}
      },
      "id": "60000000-0000-0000-0000-000000000003",
      "name": "RW Deploy Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [840, 160],
      "credentials": { "httpHeaderAuth": { "id": "@@CRED_RAILWAY_ID@@", "name": "Railway API (Bearer)" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backboard.railway.com/graphql/v2",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"query\":\"query($pid:String!){ project(id:$pid){ deployments(first:5){ edges{ node{ id status createdAt staticUrl }}}}}\",\"variables\":{\"pid\":\"@@RAILWAY_PROJECT_ID@@\"}}",
        "options": {}
      },
      "id": "60000000-0000-0000-0000-000000000004",
      "name": "RW Deploy Status (for logs)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [840, 360],
      "credentials": { "httpHeaderAuth": { "id": "@@CRED_RAILWAY_ID@@", "name": "Railway API (Bearer)" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Pick the latest deployment id from the status response so the logs query can\n// target it. Railway's deploymentLogs needs a deploymentId; deployments(first:5)\n// returns newest-first, so edges[0].node.id is the latest. Read-only: on any\n// shape we don't recognise, return an empty id and let the logs query surface a\n// GraphQL error (Format Output reports ok:false) rather than throwing.\nconst resp = ($input.first() && $input.first().json) || {};\nlet id = '';\ntry {\n  const edges = resp.data.project.deployments.edges || [];\n  if (edges.length && edges[0].node) id = edges[0].node.id || '';\n} catch (e) { id = ''; }\nreturn [{ json: { deploymentId: id } }];"
      },
      "id": "60000000-0000-0000-0000-000000000005",
      "name": "Pick Latest Deployment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 360]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backboard.railway.com/graphql/v2",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: \"query($deploymentId:String!,$limit:Int){ deploymentLogs(deploymentId:$deploymentId,limit:$limit){ timestamp message severity }}\", variables: { deploymentId: $json.deploymentId, limit: 100 } }) }}",
        "options": {}
      },
      "id": "60000000-0000-0000-0000-000000000006",
      "name": "RW Deployment Logs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1280, 360],
      "credentials": { "httpHeaderAuth": { "id": "@@CRED_RAILWAY_ID@@", "name": "Railway API (Bearer)" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Flatten whichever Railway branch ran into a uniform tool response.\n// command comes from Normalize Input. Keep staticUrl / any URLs intact (links are\n// allowed downstream — the router egress allow-list permits railway.app/.com).\n// ok is false when the GraphQL response carried an errors array.\nconst normalized = $('Normalize Input').first().json || {};\nconst command = String(normalized.command || '');\nconst items = $input.all().map(i => i && i.json).filter(Boolean);\nconst first = items[0] || {};\nconst ok = !(first && first.errors);\nlet data = first;\ntry {\n  if (command === 'deploy_status') {\n    const dep = ((first.data || {}).project || {}).deployments;\n    data = (dep && Array.isArray(dep.edges)) ? dep.edges.map(e => e.node) : first;\n  } else if (command === 'recent_logs') {\n    data = (first.data && first.data.deploymentLogs) ? first.data.deploymentLogs : first;\n  }\n} catch (e) { data = first; }\nreturn [{ json: { ok: ok, command: command, data: data } }];"
      },
      "id": "60000000-0000-0000-0000-000000000007",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 320]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "62000000-0000-0000-0000-000000000001",
              "name": "ok",
              "type": "boolean",
              "value": "=false"
            },
            {
              "id": "62000000-0000-0000-0000-000000000002",
              "name": "command",
              "type": "string",
              "value": "={{ $('Normalize Input').first().json.command }}"
            },
            {
              "id": "62000000-0000-0000-0000-000000000003",
              "name": "error",
              "type": "string",
              "value": "unknown command — valid: deploy_status, recent_logs"
            },
            {
              "id": "62000000-0000-0000-0000-000000000004",
              "name": "_debug_received",
              "type": "object",
              "value": "={{ $('Normalize Input').first().json._raw_input }}"
            }
          ]
        },
        "options": {}
      },
      "id": "60000000-0000-0000-0000-000000000008",
      "name": "Unknown Command",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [840, 560]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// bot-trace-observability: mint a per-tool-call id + SQL-safe input summary (esc()\n// doubles single quotes, repo idiom). tool_call_id in JS so downstream nodes ref it\n// by name. onError on the writers keeps the bot reply safe.\nconst j = ($input.first() && $input.first().json) || {};\nconst esc = (s) => String(s).replace(/'/g, \"''\");\nconst toolCallId = Date.now() + '-' + Math.random().toString(36).slice(2, 12);\nlet summary = '';\ntry { summary = JSON.stringify({ command: j.command || '' }); } catch (e) { summary = '{}'; }\nif (summary.length > 2000) { summary = summary.slice(0, 2000); }\nreturn [{ json: { command: j.command || '', _raw_input: j._raw_input || {}, tool_call_id: toolCallId, input_summary_sql: esc(summary) } }];"
      },
      "id": "64000000-0000-0000-0000-000000000001",
      "name": "Mint Trace",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 180]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO agent_trace_events (trace_id, session_id, turn_id, tool_name, tool_call_id, status, input_summary, started_at) VALUES ('{{ $('Mint Trace').first().json.tool_call_id }}', 'tg:' || '@@CHAT_ID@@', (SELECT max(id) FROM n8n_chat_histories WHERE session_id = 'tg:' || '@@CHAT_ID@@'), 'railway_readonly', '{{ $('Mint Trace').first().json.tool_call_id }}', 'attempted', '{{ $('Mint Trace').first().json.input_summary_sql }}'::jsonb, now());",
        "options": {}
      },
      "id": "64000000-0000-0000-0000-000000000002",
      "name": "Write Trace Attempt",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [560, 180],
      "credentials": { "postgres": { "id": "@@CRED_POSTGRES_ID@@", "name": "Postgres (n8n)" } },
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE agent_trace_events SET status = '{{ $json.ok ? \"success\" : \"failed\" }}', output_summary = jsonb_build_object('ok', {{ $json.ok ? \"true\" : \"false\" }}), error_message = {{ $json.ok ? \"NULL\" : \"'tool returned ok:false'\" }}, finished_at = now(), duration_ms = CAST(EXTRACT(EPOCH FROM (now() - started_at)) * 1000 AS INTEGER) WHERE tool_call_id = '{{ $('Mint Trace').first().json.tool_call_id }}';",
        "options": {}
      },
      "id": "64000000-0000-0000-0000-000000000003",
      "name": "Write Trace Result",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1720, 320],
      "credentials": { "postgres": { "id": "@@CRED_POSTGRES_ID@@", "name": "Postgres (n8n)" } },
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// bot-trace-observability: re-assert the original tool payload as the LAST node so\n// the toolWorkflow returns {ok,command,data} to the LLM, not the trace UPDATE result.\nreturn [{ json: $('Format Output').first().json }];"
      },
      "id": "64000000-0000-0000-0000-000000000004",
      "name": "Return Tool Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1900, 320]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": { "main": [[{ "node": "Normalize Input", "type": "main", "index": 0 }]] },
    "Normalize Input": { "main": [[{ "node": "Mint Trace", "type": "main", "index": 0 }]] },
    "Mint Trace": { "main": [[{ "node": "Write Trace Attempt", "type": "main", "index": 0 }]] },
    "Write Trace Attempt": { "main": [[{ "node": "Route by Command", "type": "main", "index": 0 }]] },
    "Route by Command": {
      "main": [
        [{ "node": "RW Deploy Status", "type": "main", "index": 0 }],
        [{ "node": "RW Deploy Status (for logs)", "type": "main", "index": 0 }],
        [{ "node": "Unknown Command", "type": "main", "index": 0 }]
      ]
    },
    "RW Deploy Status": { "main": [[{ "node": "Format Output", "type": "main", "index": 0 }]] },
    "RW Deploy Status (for logs)": { "main": [[{ "node": "Pick Latest Deployment", "type": "main", "index": 0 }]] },
    "Pick Latest Deployment": { "main": [[{ "node": "RW Deployment Logs", "type": "main", "index": 0 }]] },
    "RW Deployment Logs": { "main": [[{ "node": "Format Output", "type": "main", "index": 0 }]] },
    "Format Output": { "main": [[{ "node": "Write Trace Result", "type": "main", "index": 0 }]] },
    "Write Trace Result": { "main": [[{ "node": "Return Tool Payload", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
