templates/system/workflows/n8n/request-write-action.json
{
  "name": "factory-master: request-write-action",
  "active": false,
  "nodes": [
    {
      "parameters": { "inputSource": "passthrough" },
      "id": "80000000-0000-0000-0000-000000000001",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [220, 340]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// HITL request builder. The LLM (unknown-agent's request_write_action tool)\n// passes ONE raw string that is a JSON object; accept that (under .query, as a\n// string or already an object) or a directly-structured item. Validate +\n// whitelist, then emit SQL-safe (single-quotes doubled) values for the INSERT.\n// This does NOT execute anything — it only prepares a pending row.\nconst raw = ($input.first() && $input.first().json) || {};\nconst tryParse = (s) => { try { return JSON.parse(s); } catch (e) { return null; } };\nlet req = {};\nif (raw.query !== undefined) {\n  if (typeof raw.query === 'string') { req = tryParse(raw.query) || {}; }\n  else if (raw.query && typeof raw.query === 'object') { req = raw.query; }\n}\nif (!req.action_type && (raw.action_type || raw.target_system)) { req = raw; }\nconst errOut = (msg) => [{ json: { ok: false, error: msg } }];\nconst action_type = String(req.action_type || '').trim().toLowerCase();\nconst target_system = String(req.target_system || '').trim().toLowerCase();\nconst target_id = String(req.target_id || '').trim();\nlet human_summary = String(req.human_summary || '').trim();\nconst normalized_payload = (req.normalized_payload && typeof req.normalized_payload === 'object') ? req.normalized_payload : {};\nif (['n8n', 'github'].indexOf(target_system) < 0) { return errOut('target_system חייב להיות n8n או github'); }\nif (target_system === 'n8n' && ['activate', 'deactivate'].indexOf(action_type) < 0) { return errOut('עבור n8n, action_type חייב להיות activate או deactivate'); }\nif (target_system === 'n8n' && !target_id) { return errOut('חסר target_id (מזהה ה-workflow ב-n8n)'); }\nif (!human_summary) { human_summary = action_type + ' ' + target_system + (target_id ? (' ' + target_id) : ''); }\nconst esc = (s) => String(s).replace(/'/g, \"''\");\nconst idempotency_key = Date.now() + '-' + Math.random().toString(36).slice(2, 12);\nreturn [{ json: { ok: true, action_type, target_system, target_id, human_summary, human_summary_sql: esc(human_summary), target_id_sql: esc(target_id), normalized_payload_str: esc(JSON.stringify(normalized_payload)), idempotency_key } }];"
      },
      "id": "80000000-0000-0000-0000-000000000002",
      "name": "Parse Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 340]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose", "version": 2 },
          "combinator": "and",
          "conditions": [
            {
              "id": "81000000-0000-0000-0000-000000000001",
              "leftValue": "={{ $json.ok }}",
              "rightValue": "",
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ]
        },
        "options": {}
      },
      "id": "80000000-0000-0000-0000-000000000003",
      "name": "Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [620, 340]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pending_actions (chat_id, requester, action_type, target_system, target_id, normalized_payload, human_summary, status, expires_at, idempotency_key) VALUES (@@CHAT_ID@@, 'unknown-agent', '{{ $('Parse Request').first().json.action_type }}', '{{ $('Parse Request').first().json.target_system }}', '{{ $('Parse Request').first().json.target_id_sql }}', '{{ $('Parse Request').first().json.normalized_payload_str }}'::jsonb, '{{ $('Parse Request').first().json.human_summary_sql }}', 'pending', now() + interval '2 hours', '{{ $('Parse Request').first().json.idempotency_key }}') ON CONFLICT (idempotency_key) DO NOTHING RETURNING id;",
        "options": {}
      },
      "id": "80000000-0000-0000-0000-000000000004",
      "name": "Insert Pending",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [820, 240],
      "credentials": { "postgres": { "id": "@@CRED_POSTGRES_ID@@", "name": "Postgres (n8n)" } },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose", "version": 2 },
          "combinator": "and",
          "conditions": [
            {
              "id": "81000000-0000-0000-0000-000000000002",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty", "singleValue": true }
            }
          ]
        },
        "options": {}
      },
      "id": "80000000-0000-0000-0000-000000000005",
      "name": "Inserted?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1020, 240]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "@@CHAT_ID@@",
        "text": "={{ '🔔 בקשת פעולה:\\n' + ($('Parse Request').first().json.human_summary || 'פעולה') + '\\n\\nלאשר?' }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅ אישור",
                    "additionalFields": { "callback_data": "=app:{{ $('Insert Pending').first().json.id }}" }
                  },
                  {
                    "text": "❌ דחייה",
                    "additionalFields": { "callback_data": "=rej:{{ $('Insert Pending').first().json.id }}" }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": { "appendAttribution": false }
      },
      "id": "80000000-0000-0000-0000-000000000006",
      "name": "Send Approval Buttons",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1240, 140],
      "credentials": { "telegramApi": { "id": "@@CRED_TELEGRAM_ID@@", "name": "Telegram (factory-master)" } }
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            { "id": "82000000-0000-0000-0000-000000000001", "name": "ok", "type": "boolean", "value": "=true" },
            { "id": "82000000-0000-0000-0000-000000000002", "name": "status", "type": "string", "value": "pending_approval" },
            { "id": "82000000-0000-0000-0000-000000000003", "name": "message", "type": "string", "value": "שלחתי לאופרטור בקשת אישור עם כפתורי ✅/❌ בטלגרם. הפעולה תתבצע רק אחרי אישור." }
          ]
        },
        "options": {}
      },
      "id": "80000000-0000-0000-0000-000000000007",
      "name": "Tool Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1460, 140]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            { "id": "82000000-0000-0000-0000-000000000004", "name": "ok", "type": "boolean", "value": "=true" },
            { "id": "82000000-0000-0000-0000-000000000005", "name": "status", "type": "string", "value": "duplicate" },
            { "id": "82000000-0000-0000-0000-000000000006", "name": "message", "type": "string", "value": "בקשה זהה כבר ממתינה לאישור — לא יצרתי כפילות." }
          ]
        },
        "options": {}
      },
      "id": "80000000-0000-0000-0000-000000000008",
      "name": "Return Duplicate",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1240, 360]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            { "id": "82000000-0000-0000-0000-000000000007", "name": "ok", "type": "boolean", "value": "=false" },
            { "id": "82000000-0000-0000-0000-000000000008", "name": "error", "type": "string", "value": "={{ $('Parse Request').first().json.error }}" }
          ]
        },
        "options": {}
      },
      "id": "80000000-0000-0000-0000-000000000009",
      "name": "Return Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [820, 460]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": { "main": [[{ "node": "Parse Request", "type": "main", "index": 0 }]] },
    "Parse Request": { "main": [[{ "node": "Valid?", "type": "main", "index": 0 }]] },
    "Valid?": {
      "main": [
        [{ "node": "Insert Pending", "type": "main", "index": 0 }],
        [{ "node": "Return Error", "type": "main", "index": 0 }]
      ]
    },
    "Insert Pending": { "main": [[{ "node": "Inserted?", "type": "main", "index": 0 }]] },
    "Inserted?": {
      "main": [
        [{ "node": "Send Approval Buttons", "type": "main", "index": 0 }],
        [{ "node": "Return Duplicate", "type": "main", "index": 0 }]
      ]
    },
    "Send Approval Buttons": { "main": [[{ "node": "Tool Response", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
