templates/system/workflows/n8n/spend-track.json
{
  "name": "factory-master: spend-track",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 * * * *" }] }
      },
      "id": "60000000-0000-0000-0000-000000000001",
      "name": "Hourly",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 320]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT (SELECT COALESCE(last_cum_usd, 0) FROM spend_track_state LIMIT 1) AS last_cum_usd, (SELECT COUNT(*) FROM spend_track_state) AS state_rows;",
        "options": {}
      },
      "id": "60000000-0000-0000-0000-000000000002",
      "name": "Read State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [440, 320],
      "credentials": { "postgres": { "id": "@@CRED_POSTGRES_ID@@", "name": "Postgres (n8n)" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://openrouter.ai/api/v1/key",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "options": { "timeout": 20000 }
      },
      "id": "60000000-0000-0000-0000-000000000003",
      "name": "Get Key Usage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 320],
      "credentials": { "openRouterApi": { "id": "@@CRED_OPENROUTER_ID@@", "name": "OpenRouter (factory-master)" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Gap 5: incremental real OpenRouter spend (USD) since the last poll, from the\n// authoritative GET /api/v1/key cumulative usage. OpenRouter credits are 1:1 USD,\n// so data.usage is dollars. Per-call token usage from the lmChatOpenRouter sub-node\n// is unreachable downstream in n8n (the response.tokenUsage is silently dropped —\n// issues n8n#26302 / n8n#21673, 'No path back to the referenced node'), so the\n// authoritative key-usage endpoint is used instead. spend_track_state holds the\n// last cumulative reading; the FIRST run seeds it WITHOUT logging history.\nconst keyJson = $('Get Key Usage').first().json || {};\nconst data = keyJson.data || keyJson;\nconst cum = Number(data.usage);\nconst state = $('Read State').first().json || {};\nconst lastCum = Number(state.last_cum_usd || 0);\nconst stateRows = Number(state.state_rows || 0);\nlet delta = 0;\nlet seedOnly = false;\nif (!Number.isFinite(cum)) {\n  // HTTP/shape error: keep the prior anchor, log nothing, recover next run.\n  return [{ json: { delta: 0, cum: lastCum, seed_only: false, ok: false, reason: 'usage unreadable' } }];\n}\nif (stateRows === 0) {\n  // First ever run on this system: anchor the baseline, do not log history.\n  seedOnly = true;\n  delta = 0;\n} else {\n  delta = cum - lastCum;\n  // Clamp negatives (defensive: a hypothetical month/key reset would lower the\n  // all-time cumulative; never log a negative spend).\n  if (!(delta > 0)) { delta = 0; }\n}\nconst deltaRounded = Math.round(delta * 1e6) / 1e6;\nreturn [{ json: { delta: deltaRounded, cum: cum, seed_only: seedOnly, ok: true } }];"
      },
      "id": "60000000-0000-0000-0000-000000000004",
      "name": "Compute Delta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 320]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO spend_track_state (id, last_cum_usd, updated_at) VALUES (true, {{ $json.cum }}, NOW()) ON CONFLICT (id) DO UPDATE SET last_cum_usd = EXCLUDED.last_cum_usd, updated_at = NOW();",
        "options": {}
      },
      "id": "60000000-0000-0000-0000-000000000005",
      "name": "Upsert State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1100, 320],
      "credentials": { "postgres": { "id": "@@CRED_POSTGRES_ID@@", "name": "Postgres (n8n)" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
          "combinator": "and",
          "conditions": [
            {
              "id": "61000000-0000-0000-0000-000000000001",
              "leftValue": "={{ $('Compute Delta').first().json.delta }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ]
        },
        "options": {}
      },
      "id": "60000000-0000-0000-0000-000000000006",
      "name": "Delta > 0?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1320, 320]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO spend_log (model, cost_usd) VALUES ('openrouter-key', {{ $('Compute Delta').first().json.delta }});",
        "options": {}
      },
      "id": "60000000-0000-0000-0000-000000000007",
      "name": "Insert Spend",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1540, 240],
      "credentials": { "postgres": { "id": "@@CRED_POSTGRES_ID@@", "name": "Postgres (n8n)" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
          "combinator": "and",
          "conditions": [
            {
              "id": "62100000-0000-0000-0000-000000000001",
              "leftValue": "={{ $json.ok }}",
              "rightValue": "",
              "operator": { "type": "boolean", "operation": "false", "singleValue": true }
            }
          ]
        },
        "options": {}
      },
      "id": "62000000-0000-0000-0000-000000000001",
      "name": "Assert Spend Read",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1320, 480]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://factory-master-actions-mcp-140345952904.me-west1.run.app/factory/@@SYSTEM_NAME@@/emit",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: 'factory.automation.empty_result', severity: 'warning', body: { automation: 'spend-track', reason: String($json.reason || 'spend usage unreadable') } }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "62000000-0000-0000-0000-000000000002",
      "name": "Emit Empty Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 480],
      "credentials": { "httpBearerAuth": { "id": "@@CRED_FACTORY_MCP_ID@@", "name": "Factory MCP" } },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Hourly": { "main": [[{ "node": "Read State", "type": "main", "index": 0 }]] },
    "Read State": { "main": [[{ "node": "Get Key Usage", "type": "main", "index": 0 }]] },
    "Get Key Usage": { "main": [[{ "node": "Compute Delta", "type": "main", "index": 0 }]] },
    "Compute Delta": { "main": [[{ "node": "Upsert State", "type": "main", "index": 0 }, { "node": "Assert Spend Read", "type": "main", "index": 0 }]] },
    "Upsert State": { "main": [[{ "node": "Delta > 0?", "type": "main", "index": 0 }]] },
    "Delta > 0?": { "main": [[{ "node": "Insert Spend", "type": "main", "index": 0 }], []] },
    "Assert Spend Read": { "main": [[{ "node": "Emit Empty Result", "type": "main", "index": 0 }], []] }
  },
  "settings": { "executionOrder": "v1" }
}
