templates/system/workflows/n8n/tg-proactive.json
{
  "name": "factory-master: tg-proactive",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 8 * * *" }] }
      },
      "id": "20000000-0000-0000-0000-000000000001",
      "name": "Daily 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 320]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  (SELECT COUNT(*) FROM audit_log WHERE ts > NOW() - INTERVAL '24 hours') AS actions_24h,\n  (SELECT COALESCE(SUM(cost_usd), 0) FROM spend_log WHERE ts > NOW() - INTERVAL '24 hours') AS spend_24h,\n  (SELECT COUNT(*) FROM n8n_chat_histories WHERE session_id = 'tg:' || {{ '@@CHAT_ID@@' }}) AS total_messages,\n  (SELECT profile FROM style_profile WHERE chat_id = {{ '@@CHAT_ID@@' }}) AS style;",
        "options": {}
      },
      "id": "20000000-0000-0000-0000-000000000002",
      "name": "Aggregate Stats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [440, 320],
      "credentials": { "postgres": { "id": "@@CRED_POSTGRES_ID@@", "name": "Postgres (n8n)" } }
    },
    {
      "parameters": {
        "url": "https://@@N8N_DOMAIN@@/api/v1/executions?status=error&limit=20",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {}
      },
      "id": "20000000-0000-0000-0000-000000000003",
      "name": "Recent Errors",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 320],
      "credentials": { "httpHeaderAuth": { "id": "@@CRED_N8N_API_ID@@", "name": "n8n Public API (X-N8N-API-KEY)" } }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify({ stats: $('Aggregate Stats').item.json, recent_errors: $json.data || $json }) }}",
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "You write a short daily summary for the operator of system \"@@SYSTEM_NAME@@\". Given the JSON stats and recent errors, write 3-5 concise bullet points summarizing the last 24h, then suggest ONE useful action. Be warm and human, never robotic. Match this style profile if present: {{ JSON.stringify($('Aggregate Stats').item.json.style) }}. Answer in Hebrew by default. Output plain text only (no markdown headings)."
            }
          ]
        }
      },
      "id": "20000000-0000-0000-0000-000000000004",
      "name": "Summarize Day",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [880, 320]
    },
    {
      "parameters": {
        "model": "anthropic/claude-haiku-4.5",
        "options": { "temperature": 0.4 }
      },
      "id": "20000000-0000-0000-0000-000000000005",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [820, 540],
      "credentials": { "openRouterApi": { "id": "@@CRED_OPENROUTER_ID@@", "name": "OpenRouter (factory-master)" } }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "@@CHAT_ID@@",
        "text": "={{ '🟢 ' + ($json.text || $json.output || '') }}",
        "additionalFields": { "appendAttribution": false }
      },
      "id": "20000000-0000-0000-0000-000000000006",
      "name": "Send Proactive",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1100, 320],
      "credentials": { "telegramApi": { "id": "@@CRED_TELEGRAM_ID@@", "name": "Telegram (factory-master)" } }
    }
  ],
  "connections": {
    "Daily 08:00": { "main": [[{ "node": "Aggregate Stats", "type": "main", "index": 0 }]] },
    "Aggregate Stats": { "main": [[{ "node": "Recent Errors", "type": "main", "index": 0 }]] },
    "Recent Errors": { "main": [[{ "node": "Summarize Day", "type": "main", "index": 0 }]] },
    "OpenRouter Chat Model": { "ai_languageModel": [[{ "node": "Summarize Day", "type": "ai_languageModel", "index": 0 }]] },
    "Summarize Day": { "main": [[{ "node": "Send Proactive", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
