templates/system/workflows/n8n/tg-voice-stt.json
{
  "name": "factory-master: tg-voice-stt",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "v0000000-0000-0000-0000-000000000001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [220, 320]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.telegram.org/bot@@TELEGRAM_BOT_TOKEN@@/getFile?file_id={{ $json.file_id }}",
        "options": {}
      },
      "id": "v0000000-0000-0000-0000-000000000002",
      "name": "Get File Path",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 320],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.telegram.org/file/bot@@TELEGRAM_BOT_TOKEN@@/{{ $json.result.file_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "v0000000-0000-0000-0000-000000000003",
      "name": "Download Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [620, 320],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepgram.com/v1/listen?model=nova-3&language=he&smart_format=true",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "timeout": 30000
        }
      },
      "id": "v0000000-0000-0000-0000-000000000004",
      "name": "Deepgram STT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [820, 320],
      "credentials": {
        "httpHeaderAuth": {
          "id": "@@CRED_DEEPGRAM_ID@@",
          "name": "Deepgram (factory-master)"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const r = $input.first().json;\nconst text = (r && r.results && r.results.channels && r.results.channels[0] && r.results.channels[0].alternatives && r.results.channels[0].alternatives[0] && r.results.channels[0].alternatives[0].transcript) || '';\nif (!text) { return [{ json: { text: '', error: 'empty_transcript' } }]; }\nreturn [{ json: { text: text.trim() } }];"
      },
      "id": "v0000000-0000-0000-0000-000000000005",
      "name": "Extract Transcript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1020, 320]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get File Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File Path": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Deepgram STT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deepgram STT": {
      "main": [
        [
          {
            "node": "Extract Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
